body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

#wrap {
    background-color: black;
    position: fixed;
    width: 100%;
    font-weight: 600;
    margin: auto;
}

#left_wrap {
    display: inline-table;
    width: 35%;
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#right_wrap {
    padding-left: 0;
    margin: 0;
    width: 35%;
    float: right;
    margin-right: 15%;
    text-align: right;
}

.wrap_links {
    display: inline;
    padding-right: 5%;
}

.wrap_links:nth-of-type(4) {
    padding-right: 0;
}